.navBar{
    text-align: center !important;
    width: 100% !important;
}

.fancy1{    
    padding-top: 10px !important;
    width:70% !important;
    text-align: center !important;
}
::-webkit-input-placeholder{
    text-align: center;
}

